{% comment %}
  Is used to put spacing because header is transparent and doesnt take spacing bla bla bla
{% endcomment %}

<style>
  .header-spacing {
    height: var(--header-height);
    width: 100%;
    display: block !important;
  }
</style>

<div class="header-spacing"></div>
