{{ 'section-hero.css' | asset_url | stylesheet_tag }}

{%- comment -%}
  Include the `-` in the template literals so that it doesnt render it as an empty line
{%- endcomment -%}
{%- style -%}
{%- endstyle -%}

{%- comment -%}
  Allows to have multiple lines of expressions.
{%- endcomment -%}
{% liquid

%}

<div class="bla bla bla">
  {% render "hero-product", card_product:{},section_id:1 %}
</div>
