{% schema %}
{
  "name": "Projects Section",
  "settings": [
    {
      "type": "header",
      "content": "Projects"
    },
    {
      "type": "image_picker",
      "id": "project_0_image",
      "label": "Project 0 Image"
    },
    {
      "type": "text",
      "id": "project_0_title",
      "label": "Project 0 Title"
    },
    {
      "type": "image_picker",
      "id": "project_1_image",
      "label": "Project 1 Image"
    },
    {
      "type": "text",
      "id": "project_1_title",
      "label": "Project 1 Title"
    },
    {
      "type": "image_picker",
      "id": "project_2_image",
      "label": "Project 2 Image"
    },
    {
      "type": "text",
      "id": "project_2_title",
      "label": "Project 2 Title"
    },
    {
      "type": "image_picker",
      "id": "project_3_image",
      "label": "Project 3 Image"
    },
    {
      "type": "text",
      "id": "project_3_title",
      "label": "Project 3 Title"
    },
    {
      "type": "image_picker",
      "id": "project_4_image",
      "label": "Project 4 Image"
    },
    {
      "type": "text",
      "id": "project_4_title",
      "label": "Project 4 Title"
    },
    {
      "type": "image_picker",
      "id": "project_5_image",
      "label": "Project 5 Image"
    },
    {
      "type": "text",
      "id": "project_5_title",
      "label": "Project 5 Title"
    },
    {
      "type": "image_picker",
      "id": "project_6_image",
      "label": "Project 6 Image"
    },
    {
      "type": "text",
      "id": "project_6_title",
      "label": "Project 6 Title"
    },
    {
      "type": "image_picker",
      "id": "project_7_image",
      "label": "Project 7 Image"
    },
    {
      "type": "text",
      "id": "project_7_title",
      "label": "Project 7 Title"
    },
    {
      "type": "image_picker",
      "id": "project_8_image",
      "label": "Project 8 Image"
    },
    {
      "type": "text",
      "id": "project_8_title",
      "label": "Project 8 Title",
      "default": "MERHABA"
    }
  ],
  "presets": [
    {
      "name": "Projects Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="projects page-width-desktop ">
  <div>{{ section.settings }}</div>
  <h2>Projects</h2>
  <div class="projects-grid">
    {% for i in (1..9) %}
      {% assign img_inp = 'project_' | append: i | append: '_image' %}
      {% assign title_inp = 'project_' | append: i | append: '_title' %}
      {% assign image = section.settings[img_inp] %}
      {% assign title = section.settings[title_inp] %}
      <div>{{ title }}asdas</div>
    {% endfor %}
  </div>
</div>

<style>
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .project-item img {
    width: 100%;
    height: auto;
  }
</style>
